<%= wicked_pdf_stylesheet_link_tag "pdf" %>

<div class="logo">
  <%= image_tag wicked_pdf_asset_base64('logo.png') %>
</div>

<br><br>

<h2 class="text-center bold">Shipment Status.....</h2>

<div class="inline info-block">
  <div class="info inline">
    <p>Address <%= @address %></p>
  </div>

  <div class="info inline">
    <p>Customer PO #<%= @customer_po %></p>
  </div>

  <div class="info inline">
    <p>Contact <%= @contact_name %></p>
    <p>E-mail <%= @contact_email %></p>
  </div>

  <div class="info inline">
    <p>Phone <%= @phone %></p>
    <p>Fax# <%= @fax %></p>
  </div>
</div>

<br><br>

<table class="table table-striped">
  <thead>
    <tr>
      <td>Type</td>
      <td>Vendor</td>
      <td>Description</td>
      <td>Order QTY</td>
      <td>Status</td>
      <td>QTY</td>
      <td>Est Ship Date</td>
      <td>Req'd Ship Date</td>
      <td>Actual Ship Date</td>
      <td>Shipper</td>
      <td>On hold</td>
      <td>External Notes</td>
      <td>Submittal Status</td>
      <td>Cut sheet</td>
      <td>Installation</td>
    </tr>
  </thead>
  <tbody>
    <% @rows.each do |r| %>
      <tr>
        <td><%= r[:type] %></td>
        <td><%= r[:vendor] %></td>
        <td><%= r[:description] %></td>
        <td><%= r[:order_qty] %></td>
        <td><span class="<%= r[:status_class]%>"><%= r[:status] %></span></td>
        <td><%= r[:qty] %> </td>
        <td><span class="<%= r[:est_ship_date_class] %>"><%= r[:est_ship_date] %></span></td>
        <td><span class="<%= r[:act_ship_date_class] %>"><%= r[:act_ship_date] %></span></td>
        <td><%= r[:shipper] %></td>
        <td><%= r[:on_hold] %></td>
        <td><%= r[:external_notes] %></td>
        <td><%= r[:submittal_staus] %></td>
        <td><a href="<%= r[:cut_sheet_link] %>">Link</a></td>
        <td><a href="<%= r[:installation_link] %>">Link</a></td>
      </tr>
    <% end %>
  </tbody>
</table>